<!-- Modal -->
<div class="modal fade" id="kazanimUyarisi" tabindex="-1" role="dialog" aria-labelledby="kazanimUyarisiLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="col-12 modal-title text-center" id="kazanimUyarisiLabel"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="mb-2 bi bi-exclamation-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
          </svg> {{_("Kazanım Sayısı ile Soru Sayısı Eşleşmiyor")}}</h5>
        </div>
        <div class="modal-body" id="modal-icerik">
          <p>
              {{_("Girdiğiniz sınav kodu ile tanımlı sınav kazanımları sayısı ile, <span class="vurgu">yüklediğiniz sınavda bulunan soru sayısı eşleşmediğini fark ettik.</span>") | safe}}
          </p>
          <p>
              {{_("Bir yanlışlık olduğunu düşünüyorsanız <b>sınav kodunu değiştirebilirsiniz.</b>") | safe}}
          </p>
          <p>
              {{_("Ya da kazanım analizi olmadan sınav okutmaya devam edebilirsiniz.")}}
          </p>
        </div>
        <div class="modal-footer" id="modal-alt">
          <button type="button" class="btn btn-primary" id="degistir"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mb-1 bi bi-arrow-clockwise" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
          </svg> {{_('Sınav Kodunu Değiştir')}}</button>
          <button type="button" style="margin-top: -1px;" id="devam" class="btn btn-secondary">{{_('Analiz Yapmadan Devam Et')}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
          </svg></button>
        </div>
      </div>
    </div>
  </div>

  <script>
    var current_user_id = '{{ current_user.id }}'
  </script>
  <script src="{{ url_for('static', filename='jsler/kazanim_eslestirme_uyarisi.js') }}"></script>