<div class="modal fade" id="uyari" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="col-12 modal-title text-center" id="exampleModalLongTitle">{{_('Nasıl Sınav Hazırlanır')}}?</h5>
        </div>
        <div class="modal-body text-center">
          <p>{{_('Sınav hazırlamadan önce, detaylı <b>sınav oluşturma kılavuzunu</b> incelemeniz kesinlikle önerilmektedir') | safe}}.</p>
          <a href="https://pg.com/nasilyapilir#sinav_olusturmak target="_blank" class="btn btn-info btn-block">{{_('Kılavuza Göz At')}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg></a>
        </div>
        <div class="modal-footer">
            <button onclick="onayFunc()" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
              </svg> {{_('Okudum')}}</button>
        </div>
    </div>
    </div>
</div>
<script>
    $(function () { $('#uyari').modal('show')})
    function onayFunc () {
      $.ajax({
        url:'/kilavuz_okuma_onayla',
        type:'post',
        data:{kilavuz_tipi: 'sinav_okuma'},
        dataType: "text",
        success:function(data) {
          $('#uyari').modal('hide')
          }
        })
    }
</script>
